body {
  background-image: url('Image/img.jpg');
  color: black;
  background-repeat: no-repeat;
  overflow: scroll;
  background-size: cover;
}


#cityInput, #cityName, #inputContainer,button{
  margin: 3px;
padding:5px;
text-align:center;
font-size:20px;
font-weight:bold;
}

#weatherContainer{
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 1300px;
  min-width: 40;
  border: 5px solid rgba(241, 233, 233, 0.829);    
  border-radius: 10px;
  background-color: #773e3e78;

  

  color: rgb(213, 13, 240);
}

#iconsContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 240px;
  width: 1200px;    
  border: 5px solid rgb(237, 243, 243);    
  border-radius: 10px;
}

.icons{
  display: inline-bock;
  float: left;
  max-height: 200px;
  max-width: 190px;
  margin: 20px;
  border: 5px solid rgb(236, 230, 230);
  border-radius: 10px;
  min-height: 100px;
  min-width:100px;
  
}

.image{
  height: 140px;
  width: 100%;
}

.imgClass{
  height: 140px;
  width: 100%;
}

.weather{
  margin: 5px;
  background-color: rgb(106, 215, 255);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.minValues{
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}


.maxValues{
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}

button:hover{
  background-color: rgb(15, 161, 228);

}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .icons {
    width: 80%;
    padding: 0;
  }
  center {
    width: 100%;
  }
}
  

center h1 {
  background-color: #eabd0d;
  width: 354px;
  border: 2px solid black;
  border-radius: 15px;
}

center h2 {
  background-color: #0cf1f1fa;
  width: 184px;
  border: 2px solid rgb(243, 36, 9);
  border-radius: 17px;
}
/* center p #cityInput{
  background-color:white ;
  width: 270px;
} */










ul {
  list-style-type: none;
  margin: -8px;
  padding: 10px;
  width: 99px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* li {
  text-align: center;
  border-bottom: 1px solid #555;
} */

/* li:last-child {
  border-bottom: none;
}
 */
li a.active {
  background-color: #0ee4f3a6;
  color: rgb(3, 3, 3);
}

/* li a:hover:not(.active) {
  background-color: #555;
  color: white;
} */